<div class="certifications-data-container">
  <mat-card class="certifications-card">
    <mat-card-header>
      <mat-card-title>Certifications</mat-card-title>
    </mat-card-header>
    <div *ngIf="!isDataLoaded" class="progress-spinner-container">
      <mat-spinner mode="indeterminate"></mat-spinner>
    </div>
    <mat-card-content *ngIf="isDataLoaded">
      <table mat-table [dataSource]="dataSource" class="mat-projects-table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="startdate">
          <th mat-header-cell *matHeaderCellDef>Start date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.startDate }}
          </td>
        </ng-container>
        <ng-container matColumnDef="enddate">
          <th mat-header-cell *matHeaderCellDef>End date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.endDate }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
