.certifications-data-container, .certifications-card {
    height: 100%;
}
table {
    width: 100%;
}
mat-card-header {
    height: 20%;
}
.progress-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }