.usefull-links-data-container, .usefull-links-card {
    height: 100%;
}
mat-card-header {
    height: 10%;
}
.progress-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
  }