.projects-data-container, .projects-card {
    height: 100%;
}
table {
    width: 100%;
}
mat-card-header {
    height: 10%;
}
.progress-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
  }