<div class="assessments-data-container">
  <mat-card class="assessments-card">
    <mat-card-header>
      <mat-card-title>Assessments</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="assessment-table-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field
              class="last-assessment-full-width"
              appearance="fill"
            >
              <mat-label>Last assessment</mat-label>
              <input matInput matInput disabled value="12.13.2021" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field
              class="next-assessment-full-width"
              appearance="fill"
            >
              <mat-label>Next assessment</mat-label>
              <input matInput matInput disabled value="03.13.2022" />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
